*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* banner start */
header{
    background-image: url('./img/Photo--.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    display: flex;
    width: 100%;    
}
.logo img{
    height: 50px;
    width: 60;
    padding: 20px;
}

.logo h2{
    padding: 30px 0px 0px 0px ;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

ul, li{
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.banner_content h2{
    padding-top: 120px;
    text-align: center;
    font-size: 70px;
    color: white;
}
.banner_content p{
    padding-top: 10px;
    color: blanchedalmond;
    text-align: center;
    font-size: 18px;
}
.banner_content button{
    text-align: center;
    background-color: orangered;
    margin: 40px 0px 0px 600px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    color :white;
}

.images-grid{
    display: flex;
    justify-content: space-evenly;
}

.images-grid img{
    height: 300px;
    width: 350px;
    padding: 10px 5px;
}
/* banner end */

/* Destination section start  */
.destination{
    padding: 30px 0px 30px 0;
}
.destination h2{
    text-align: center;
    color: #606F81;
}
.search input{
    border: none;
    width: 500px;
    background-color: honeydew;
    padding: 15px;
    outline: none;
}

.search{
    margin : 20px 0px 10px 350px;
    background-color: honeydew;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.search input::placeholder{
    color: #606F81;
    font-size: 14px;
}

.search i{
    color: coral;
}
/* end of destination */

/* Cards section  */

.cards-1{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.row p,h4{
    text-align: center;
    margin-top: 15px;
}

/* End Of cards  */

/* explore section */
.explore{
    margin-top: 15px;
    background-color: aliceblue;
    padding: 30px 0;
}

.explore h3{
    text-align: center;
    color: gray;
    font-size: 24px;
}
.content-1{
    width: 50%;
    padding: 140px 0 0 200px;
}

.content-1 h2{
    font-family: 'Montserrat', sans-serif;
    color: #FFC74A;
    font-size: 30px;
}

.content-1 p{
    font-family: 'Montserrat', sans-serif;
    color: #606F81;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding: 30px 0px 0px 0px; 
}

.content-1 button{
    margin: 40px 0px 0px 0px;
    padding: 10px 30px;
    background-color: #FFC74A;
    border: none;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #B98000;
    text-align: center;
    cursor: pointer;
}

.content-container{
    display: flex;
}

.explore img{
    width: 50%;
    padding: 90px 90px 0 70px;
}
